* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

section {
    height: 30vh;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 30vh 0;
}


.animate-words {
    margin: 30vh 0;
}

.animate-words div.mask {
    display: inline-block;
    overflow: hidden;
}

.animate-words span {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0%;
    filter: blur(10px);
    transition: transform .3s ease-in, 
                opacity .3s ease-in, 
                filter .3s ease-in;
}

.animate-words span.show {
    transform: translateY(0);
    opacity: 100%;
    filter: blur(0px);
}