* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cccccc;
    display: grid;
    place-items: center;
    font: 900 3rem sans-serif;
    font-family: "Roboto";
    width: 100vw;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    max-height: 3.0rem;
    /* border: red solid 2px; */
}

.container > div {
    /* border: red solid 2px; */
    letter-spacing: -0.5rem;
    line-height: 1.7rem;
    text-indent: -0.3rem;
    writing-mode:vertical-lr;
    text-orientation: upright;
    max-height: fit-content;
    transition: all 0.5s ease-in;
    /* transform: translateY(calc(-10rem - 20px)); */
}